@import 'tailwindcss';

:root {
  --font-title: 'Jersey 15', monospace;
  --font-pixel-ui: 'Pixelify Sans', monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
}

/* Jaga ketajaman pixel art saat canvas Phaser di-scale */
canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
